@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700&display=swap');

moduleWardrobe body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    background-size: 100% 100%;
    /* background-color: #132651; */
}

moduleWardrobe * {
    outline: none;
    list-style: none;
    user-select: none;
    text-decoration: none;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;

} */

moduleWardrobe b {
    color: #fff;
}

moduleWardrobe #mainGuardaRoupa {
    position: absolute;
    top: 50%;
    left: 70px;
    color: #fff;
    display: flex;
    flex-direction: column;
    transform: translate(0, -50%);
}

moduleWardrobe #mainGuardaRoupa .flexGuardaRoupa {
    display: flex;
}

moduleWardrobe .flex-centerGuardaRoupa {
    display: flex;
    align-items: center;
    justify-content: center;
}

moduleWardrobe #mainGuardaRoupa header {
    font-size: 20px;
    font-weight: 400;
    letter-spacing: 1px;
    margin-bottom: 20px;
    text-transform: uppercase;
}

moduleWardrobe #mainGuardaRoupa aside {
    width: 60px;
    height: 420px;
    overflow: auto;
    direction: rtl;
    padding-right: 10px;
    border-right: 2px dashed rgba(255, 255, 255, 0.25);
}

moduleWardrobe aside::-webkit-scrollbar {
    width: 0;
}

moduleWardrobe #mainGuardaRoupa aside .categoryGuardaRoupa {
    width: 100%;
    height: 50px;
    color: #fff;
    font-size: 15px;
    margin-bottom: 5px;
    transition: all .5s;
    border-radius: .2rem;
    background: rgba(0, 0, 0, 0.562);
}

moduleWardrobe #mainGuardaRoupa aside .categoryGuardaRoupa:hover {
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15);
    background: linear-gradient(to right, #4277EA, #3F61B2);
}

moduleWardrobe #mainGuardaRoupa aside .categoryGuardaRoupa:last-child {
    margin-bottom: 0;
}

moduleWardrobe #mainGuardaRoupa aside .categoryGuardaRoupa img {
    max-width: 60%;
}

moduleWardrobe #mainGuardaRoupa section {
    position: relative;
    width: 400px;
    display: flex;
    margin-left: 10px;
    flex-direction: column;
}

moduleWardrobe #mainGuardaRoupa section .title {
    position: relative;
    width: 100%;
    height: 45px;
    display: flex;
}

moduleWardrobe #mainGuardaRoupa section .title .cart {
    width: 45px;
    height: 45px;
    color: #fff;
    font-size: 20px;
    border-radius: .3rem;
    background: linear-gradient(to right, #3F5FAA, #3F5FAA);
}

moduleWardrobe #mainGuardaRoupa section .title .cart-info {
    height: 100%;
    display: flex;
    font-size: 10px;
    line-height: 12px;
    margin-left: 10px;
    flex-direction: column;
    justify-content: center;
    text-transform: uppercase;
}

moduleWardrobe #mainGuardaRoupa section .title small {
    opacity: .6;
}

moduleWardrobe #mainGuardaRoupa section .title .search {
    right: 13px;
    bottom: 11px;
    font-size: 11px;
    position: absolute;
    text-transform: uppercase;
}

moduleWardrobe #mainGuardaRoupa section .title .search input {
    border: 0;
    width: 60px;
    color: #fff;
    outline: none;
    background: 0;
}

moduleWardrobe #mainGuardaRoupa section .title .search input::placeholder {
    color: #fff;
    font-size: 10px;
    text-transform: uppercase;
}

moduleWardrobe #mainGuardaRoupa section .shop-content {
    width: 97%;
    height: 370px;
    overflow: auto;
    margin-top: 10px;
}

moduleWardrobe #mainGuardaRoupa section .shop-content .item-drobe {
    position: relative;
    width: 100%;
    height: 80px;
    display: flex;
    padding: 0 40px;
    border-radius: 5px;
    align-items: center;
    background: #0075DE;
    justify-content: space-between;
}

moduleWardrobe .item-drobe .text {
    position: absolute;
    top: 10px;
    right: 10px;
    display: flex;
    font-weight: 500;
    font-size: 12px;
    text-align: right;
    letter-spacing: 1px;
    flex-direction: column;
    text-transform: uppercase;
}

moduleWardrobe .item-drobe .actions {
    position: absolute;
    left: 20px;
    z-index: 101;
}

moduleWardrobe .item-drobe .actions button {
    border: 0;
    opacity: 0;
    outline: none;
    color: #fff;
    padding: 5px 15px;
    font-size: 12px;
    font-weight: 600;
    border-radius: 30px;
    transition: all .2s;
    text-transform: uppercase;
    background-color: rgba(0, 0, 0, .5);
}

moduleWardrobe .item-drobe .actions button:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

moduleWardrobe .item-drobe .text small {
    opacity: .5;
    font-weight: 400;
}

moduleWardrobe #mainGuardaRoupa section .shop-content .item-drobe svg {
    font-size: 35px;
    z-index: 101;
}

moduleWardrobe #mainGuardaRoupa section .shop-content .item-drobe:hover svg {
    filter: blur(5px);
}

moduleWardrobe #mainGuardaRoupa section .shop-content .item-drobe:hover button {
    opacity: 1;
}

moduleWardrobe #mainGuardaRoupa section .shop-content .item-drobe::before {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 5px;
    background: linear-gradient(86.63deg, rgba(0, 0, 0, 0.64) 0%, rgba(0, 117, 222, 0) 129.98%);
}

moduleWardrobe .addOutfit {
    z-index: 101;
    display: flex;
    font-size: 12px;
    margin: 10px auto;
    letter-spacing: 1px;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    text-transform: uppercase;
}

moduleWardrobe .addOutfit svg {
    font-size: 30px;
    margin: 15px 0;
}

moduleWardrobe #mainGuardaRoupa section .shop-content .item {
    position: relative;
    width: 120px;
    height: 120px;
    transition: all .3s;
    border-radius: .1rem;
    display: inline-flex;
    background-color: rgba(0, 0, 0, 0.562);
}

moduleWardrobe #mainGuardaRoupa section .shop-content .item active {
    position: absolute;
    color: rgb(5, 255, 5);
    width: 30px;
    height: 30px;
    margin-left: 3px;
    margin-top: 3px;
}

moduleWardrobe .activeMGuardaRoupa {
    background: linear-gradient(to right, #3F5FAA,#3F5FAA) !important;
} 

/* moduleWardrobe #mainGuardaRoupa section .shop-content .item:hover {
    background: linear-gradient(to right, #3F5FAA,#3F5FAA);
} */

moduleWardrobe #mainGuardaRoupa section .shop-content .item img {
    position: absolute;
    top: 40%;
    left: 49%;
    max-width: 80%;
    transform: translate(-50%, -50%);
}

moduleWardrobe #mainGuardaRoupa section .shop-content .item small {
    position: absolute;
    width: 15px;
    height: 15px;
    left: 90%;
    bottom: 100px;
    font-size: 10px;
    transform: translate(-50%, 0);
    color: #FFFFFF;
}

moduleWardrobe #mainGuardaRoupa section .shop-content .item span {
    position: absolute;
    left: 50%;
    bottom: 3px;
    font-size: 8px;
    padding: 4px 5px;
    font-weight: bold;
    letter-spacing: 1px;
    white-space: nowrap;
    border-radius: .2rem;
    transform: translate(-50%, 0);
}

moduleWardrobe #mainGuardaRoupa section .shop-color {
    position: absolute;
    bottom: 0;
    width: 80px;
    right: -130px;
    height: 370px;
}

moduleWardrobe #mainGuardaRoupa section .shop-color .color-iconGuardaRoupa {
    position: absolute;
    top: 50%;
    left: -45px;
    width: 30px;
    height: 30px;
    border-radius: 100%;
    transition: all .2s;
    background: #4060AA;
}

moduleWardrobe #mainGuardaRoupa section .shop-color .color-iconGuardaRoupa:hover {
    box-shadow: 0 0 0.1rem transparent, inset 0 0 0.1rem transparent, 0 0 .7rem #4060AA, inset 0 0 .7rem #4060AA
}

moduleWardrobe #mainGuardaRoupa section .shop-color .color-iconGuardaRoupa:active {
    transform: scale(1.1);
}

moduleWardrobe #mainGuardaRoupa section .shop-color .color-contentGuardaRoupa {
    width: 100%;
    height: 360px;
    overflow: auto;
}

moduleWardrobe .color-contentGuardaRoupa::-webkit-scrollbar {
    width: 0;
}

moduleWardrobe #mainGuardaRoupa section .shop-color .color-contentGuardaRoupa .item {
    position: relative;
    width: 60px;
    height: 60px;
    margin-bottom: 10px;
    transition: all .2s;
    border: 2px dashed #4060aa88;
}

/* moduleWardrobe #mainGuardaRoupa section .shop-color .color-contentGuardaRoupa .item:hover {
    background: linear-gradient(to right, #3F5FAA,#3F5FAA) !important;
} */

moduleWardrobe #mainGuardaRoupa section .shop-color .color-contentGuardaRoupa .item small {
    position: absolute;
    top: 3px;
    left: 5px;
    font-size: 10px;
    color: rgba(255, 255, 255, 0.521);
}

moduleWardrobe #mainGuardaRoupa section .shop-color .color-contentGuardaRoupa .item:last-child {
    margin-bottom: 0;
}

moduleWardrobe #mainGuardaRoupa section .shop-color .color-contentGuardaRoupa .item img {
    max-width: 80%;
}

moduleWardrobe #mainGuardaRoupa section .shop-footer {
    position: absolute;
    right: 28px;
    padding: 5px;
    bottom: -80px;
    display: flex;
    align-items: center;
}

moduleWardrobe #mainGuardaRoupa section .shop-footer .action-buyGuardaRoupa {
    display: flex;
    transition: all .2s;
    align-items: center;
}

moduleWardrobe #mainGuardaRoupa section .shop-footer .info-footer {
    position: relative;
    z-index: -1;
    right: -19px;
    height: 40px;
    font-size: 12px;
    margin-left: 20px;
    padding: 0px 15px;
    transition: all .2s;
    padding-right: 30px;
    background: #4060AA;
    text-transform: uppercase;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
}

moduleWardrobe #mainGuardaRoupa section .shop-footer button {
    position: relative;
    border: 0;
    width: 39px;
    height: 39px;
    outline: none;
    color: #ffff;
    font-size: 20px;
    border-radius: 0px;
    border-radius: 100%;
    letter-spacing: 1px;
    transition: all .2s;
    background: #4060AA;
    text-transform: uppercase;
    box-shadow: 0 0 0.1rem transparent, inset 0 0 0.1rem transparent, 0 0 .7rem #4060AA, inset 0 0 .7rem #4060AA
}

moduleWardrobe #mainGuardaRoupa section .shop-footer .action-buyGuardaRoupa:hover {
    transform: scale(1.1);
}

moduleWardrobe #mainGuardaRoupa section .shop-footer .action-buyGuardaRoupa:active {
    transform: scale(.9);
}

moduleWardrobe #mainGuardaRoupa section .shop-footer .input-footer {
    position: relative;
    left: -50px;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 8px;
    color: #fff;
    white-space: nowrap;
}

camGuardaRoupa {
    position: absolute;
    top: 20px;
    right: 200px;
}

camGuardaRoupa .item {
    position: relative;
    opacity: 0;
    width: 50px;
    height: 50px;
    display: flex;
    color: #ffff;
    font-size: 20px;
    transition: all .2s;
    align-items: center;
    border-radius: 100%;
    margin-bottom: 10px;
    justify-content: center;
    background: rgba(0, 0, 0, 0.562);
}

camGuardaRoupa .item:first-child {
    opacity: 1;
}

camGuardaRoupa .item:hover {
    background: #4277EA;
    box-shadow: 0 0 0.1rem transparent, inset 0 0 0.1rem transparent, 0 0 .7rem #4277EA, inset 0 0 .7rem #4277EA
}

camGuardaRoupa .item img {
    max-width: 40%;
}

camGuardaRoupa .item::after {
    position: absolute;
    content: '';
    left: 50%;
    width: 2px;
    z-index: -1;
    height: 10px;
    top: -10px;
    transform: translate(-50%, 0);
    background: rgba(0, 0, 0, 0.562);
}

camGuardaRoupa .icon {
    background: #4277EA;
}

camGuardaRoupa .icon::after {
    position: absolute;
    content: '';
    top: -20px;
    left: 50%;
    width: 2px;
    z-index: -1;
    height: 20px;
    transform: translate(-50%, 0);
    background: #4277EA;
}

moduleWardrobe .styleAugGuardaRoupa {
    --aug-r1: 20px;
    --aug-l2: 25px;
}

moduleWardrobe::-webkit-scrollbar {
    width: 4px;
    border-radius: 30px;
    background-color: rgba(0, 0, 0, 0.400);
}

moduleWardrobe::-webkit-scrollbar-track {
    border-radius: 30px;
    background-color: rgba(0, 0, 0, 0.400);
}

moduleWardrobe::-webkit-scrollbar-thumb {
    border-radius: 30px;
    background: #0075DE;
}

moduleWardrobe .rangeGuardaRoupa {
    margin: auto;
    outline: none;
    padding: 0;
    width: 130%;
    height: 6px;
    margin-top: 10px;
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.562);
    background-image: -webkit-gradient(linear, 0% 0%, 0% 0%, color-stop(0%, #4060AA), color-stop(0%, #4060AA));
    background-image: -webkit-linear-gradient(#4060AA, #4060AA);
    background-image: -moz-linear-gradient(#4060AA, #4060AA);
    background-image: -o-linear-gradient(#4060AA, #4060AA);
    background-image: linear-gradient(#4060AA, #4060AA);
    background-size: 0% 100%;
    background-repeat: no-repeat;
    cursor: pointer;
    -webkit-appearance: none;
}

moduleWardrobe .rangeGuardaRoupa::-webkit-slider-runnable-track {
    box-shadow: none;
    border: none;
    background: transparent;
    -webkit-appearance: none;
}

moduleWardrobe .rangeGuardaRoupa::-moz-range-track {
    box-shadow: none;
    border: none;
    background: transparent;
}

moduleWardrobe .rangeGuardaRoupa::-moz-focus-outer {
    border: 0;
}

moduleWardrobe .rangeGuardaRoupa::-webkit-slider-thumb {
    width: 14px;
    height: 14px;
    border: 0;
    background: #fff;
    border-radius: 100%;
    -webkit-appearance: none;
    box-shadow: 0 0 1px 0px rgba(0, 0, 0, 0.1);
}

moduleWardrobe .rangeGuardaRoupa::-moz-range-thumb {
    width: 14px;
    height: 14px;
    border: 0;
    background: #fff;
    border-radius: 100%;
    box-shadow: 0 0 1px 0px rgba(0, 0, 0, 0.1);
}

moduleWardrobe .animarColorGuardaRoupa {
    animation: scale-in-ver-center 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

moduleWardrobe .animarColorCloseGuardaRoupa {
    animation: scale-out-vertical 0.5s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
}

@keyframes scale-in-ver-center {
    0% {
        -webkit-transform: scaleY(0);
        transform: scaleY(0);
        opacity: 1;
    }

    100% {
        -webkit-transform: scaleY(1);
        transform: scaleY(1);
        opacity: 1;
    }
}

@keyframes scale-out-vertical {
    0% {
        -webkit-transform: scaleY(1);
        transform: scaleY(1);
        opacity: 1;
    }

    100% {
        -webkit-transform: scaleY(0);
        transform: scaleY(0);
        opacity: 1;
    }
}

moduleWardrobe .swal2-modal {
    color: #fff !important;
    background: rgba(0, 0, 0, 0.500) !important;
}

moduleWardrobe .swal2-input {
    color: #fff !important;
    border: 0 !important;
    outline: none !important;
    box-shadow: none !important;
    text-align: center !important;
    border-radius: 20px !important;
    appearance: textfield !important;
    -moz-appearance: textfield !important;
    background: rgba(0, 0, 0, .5) !important;
}

moduleWardrobe .swal2-validation-message {
    color: #fff !important;
    background: transparent !important;
}

moduleWardrobe .swal2-cancel {
    background: salmon !important;
}

moduleWardrobe .swal2-confirm {
    background: #0075DE !important;
}